.counter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  box-sizing: border-box;
  padding: 0 10px;
  color: white;
  font-family: "RoughBrush", sans-serif;
  font-size: 24px;
  line-height: 100%;
  z-index: 5;
}